html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background:
      linear-gradient(rgb(147, 150, 155), transparent 1px),
      linear-gradient(90deg, rgb(147, 150, 155), transparent 1px);
    background-size: 1rem 1rem;
    background-position: center center;
    font-size: 16px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    display: inline-flex;
    align-items: center;
    margin-right: 5%;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.app-container {
    display: flex;
    align-items: center;
    position: relative;
}

.modal-container {
    width: 40%;
    margin: auto;
    padding: 20px;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid black;
}

.modal-form {
  text-align: center;
}

.modal-button {
    width: 120px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    outline: none;
    background-color: #93dbe9;
    border-radius: 5px;

    border-width: 0;
    border-style: none;
    border-image: none;
}

.display-none {
    display: none;
}

.form-error {
    position: absolute;
    padding: 5px 10px;
    width: 200px;
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.chat-container {
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    top: 10%;
    left: 28%;
    width: 70%;
    height: 90vh;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    /* overflow-y: auto; */
    word-wrap: break-word;
}

.chat-container::-webkit-scrollbar {
  width: 12px;
}
.chat-container::-webkit-scrollbar-track {
  background: rgb(90, 90, 90); 
  border-radius: 0 10px 10px 0;
}
.chat-container::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202);
  border-radius: 20px;
  border: 3px solid rgb(90, 90, 90); 
}

.chat {
    padding: 0 10px;
    max-height: 100%;
    overflow-y: auto;
}

.message-information {
    font-size: 15px;
}

.message-text{
  font-size: 20px;
}

.chat-message {
    width: 97%;
    margin-left: 1%;

}

.you,
.you-message {
    color: red;
}

.right-align {
    text-align: right;
}

.connection-container {
    position: absolute;
    top: 5vh;
    left: 5%;
    width: 25%;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
}

.connection-row {
    margin: 5px;
}

.connection-prewiew {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
}

.container {
    width: 100%;
    margin: 0;
    padding: 20px;
    background-position: top 17px right -112px;
}
